<!doctype html>
<html>
<head>
    <title>{% block title %} PiBit {% endblock %}</title>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>PiBit</title>
    <meta name="keywords" content="Pi Network, PiBit, Pi token, Leen-Co Tech, Leenco, Emlyn, Pi, Pi Exchanger, Pi Exchange,">
    <meta name="description" content="Buy and Sell Pi Coin, Buy and Sell your Pi,">
    <meta name="author" content="Umar Abdulmalik, Umar Emlyn, Leen-Co Tech Ltd">
    <!-- bootstrap css -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- style css -->
    <!-- {{ url_for('static', filename='style.css') }} -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <!-- responsive-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

</head>
<body class="main-layout">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">PiBit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	     <span class="navbar-toggler-icon"></span>
	 </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
	    <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		    <a class="nav-link" href="#">Sign-Up</a>
		</li>
		<li class="nav-item">
		    <a class="nav-link" href="#">Contact Us</a>
		</li> 
		<li class="nav-item">
		    <a class="nav-link" href="#">About Us</a>
		</li>
	    </ul>
        </div>
    </nav>
<!-- header -->
    <header>
        <!-- header inner -->
    <div class="head-top">
        <div class="container-fluid">
            <div class="row d_flex">
                <div class="col-sm-3">
                    <div class="logo">
                        <a href="index.html"><!--<img src="images/logo.png" alt="" />--></a>
                                <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
	    <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		    <a class="nav-link" href="#">Sign-Up</a>
		</li>
		<li class="nav-item">
		    <a class="nav-link" href="#">Contact Us</a>
		</li> 
		<li class="nav-item">
		    <a class="nav-link" href="#">About Us</a>
		</li>
	    </ul>
        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </header>
    <!-- end header -->
{% block content %}
<br>
    <!-- Signup Form -->
<div class="container right-panel-active">
	<!-- Sign Up -->
	<div class="container__form container--signup">
		<form action="/login" method="POST" class="form" id="form1">
			<h2 class="form__title">Sign Up</h2>
			<input type="text" placeholder="Full Name" class="input" />
			<input type="email" placeholder="Email" class="input" />
			<input type="password" placeholder="Password" class="input" />
			<input type="password" placeholder="Repeat Password" class="input" />
			<button type="submit" onclick="submit()" class="btn">Sign Up</button>
		</form>
	</div>
	<!-- Sign In -->
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endif %}
	<div class="container__form container--signin">
		<form class="form" id="form2"  method="POST" action="/login">
			<h2 class="form__title">Sign In</h2>
			<input type="email" placeholder="Email" class="input" />
			<input type="password" id="password" placeholder="Password" class="input" />
			<a href="#" class="link">Forgot your password?</a>
			<button type="submit" onclick="submit()" class="btn">Sign In</button>
		</form>
	</div>
	<!-- Overlay -->
	<div class="container__overlay">
		<div class="overlay">
			<div class="overlay__panel overlay--left">
            <p>Already have an Account?</p>
				<button class="btn" id="signIn">Sign In</button>
			</div>
			<div class="overlay__panel overlay--right">
            <p>Don't have an Account?</p>
				<button class="btn" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
    <!-- end Signup Form -->
    {% endblock %}
    <!-- footer -->
    <footer id="footer">
        <div class="footer">
            <div class=" ">
                <div class="row">
                    <div class="col-md-3">
                        <div class="logo">
                        <a class="logo_bottom" href="index.html"><!--<img src="images/logo.png" alt="" />-->PiBit</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" ">
                  <div class="Informa conta ">
                     <h3>Contact Us</h3>
                     <ul>
                        <li>
                        </li>
                        <li> <a href="Javascript:void(0) "><i class="fa fa-phone " aria-hidden="true "></i> Call +01 1234567890
                           </a>
                        </li>
                        <li> <a href="Javascript:void(0) "> <i class="fa fa-envelope " aria-hidden="true "></i> Support@Pitrustex.com
                           </a>
                        </li>
                     </ul>
                  </div>

               </div>
               <div class="col-md-3 col-sm-6 "">
                        <div class="Informa helpful">
                            <h3>Useful Link</h3>
                            <ul>
                                <li>About Us
                                </li>
                                <li>Services
                                </li>
                                <li>Explore
                                </li>
                                <li>Blog
                                </li>
                            </ul>
                        </div>
                    </div>
            
               <div class="col-md-3 col-sm-6 ">
                  <div class="Informa ">
                     <h3>Newsletter</h3>
                     <form class="newslatter_form ">
                        <input class="ente " placeholder="Enter your email " type="text " name="Enter your email ">
                        <button class="subs_btn ">Subscribe</button>
                     </form>
                  </div>
               </div>
            </div>
            <div class="copyright text_align_center ">
               <div class=" ">
                  <div class="row ">
                     <div class="col-md-12 ">
                        <p>© <a href="https://Leecotech.com/ "> PiBit</a> 2023</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
